Question 1: print 0 to 20 by using range

In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

Question 2: print range 10 to 20

In [6]:
for num in range(10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

Question 3: print no of items in list using 'len'

In [24]:
list = [10,20,14,55,43,87,76]
for temp in list:
    print(temp)
length = len(list)
print("Number of item in the list:",length)

10
20
14
55
43
87
76
Number of item in the list: 7

Question 4:

In [32]:
string = "Artificial Intelligence"
for temp in string:
    print(temp)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

Question 5:

In [42]:
string = "your name,your age,your profession"
split = string.split(",")
for word in split:
    print (f"-{word}-")

-your name-
-your age-
-your profession-

In [43]:
print("-your name-")
print("-your age-")
print("-your profession-")

-your name-
-your age-
-your profession-

Question 6: Tuples

In [44]:
tuple = (1,"Welcome",2,"Hope")
print(tuple)

(1, 'Welcome', 2, 'Hope')

Question 7:

In [45]:
tuple1 = (0,1,2,3)
tuple2 = ("Python","Hope")
print(tuple1,",",tuple2)

(0, 1, 2, 3) , ('Python', 'Hope')

Question 8: Print even no in the list

In [52]:
number = [20,10,16,19,25,1,276,188]
for num in number:
    if num % 2 == 0:
        print(num)

20
10
16
276
188